.overlay {
  z-index: 1;
}
.icons {
  display: flex;
  vertical-align: bottom;
  padding-right: 5px;
  flex-wrap: wrap;
}

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  font-size: medium;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.products-container ion-icon {
  font-size: 15px;
  color: blue;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  flex-wrap: wrap;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.basketTotalTitle {
  width: 30%;
}
.basketTotal {
  width: 10%;
}
