body {
  background-color: #283618;
}
h2 {
  padding-top: 40px;
  text-align: center;
}

li {
  color: #553922;
  list-style: none;
  padding-right: 25px;
}
#total {
  padding-left: 15px;
}
#cookies-box {
  width: 775px;
  /* padding-left: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* height: 100vh; */
}

#sidebar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  float: top;
  background: #fefae0;
  /* height: 100vw; */
  max-width: inherit;
  border-right: 2px solid #fefae0;
}

#sidebar .logo {
  width: 60px;
  height: 60px;
  padding-top: 15px;
  padding-left: 15px;
}

#sidebar section {
  margin-top: 30px;
  padding: 0 10px;
  text-align: left;
}

#sidebar .menu-item {
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
}

#sidebar .menu-item a {
  transition: all 0.2s ease-out;
  padding-left: 13px;
  color: #553922;
  text-decoration: none;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-left: 20px;
}

#sidebar .menu-item a:hover {
  color: #283618;
}

#sidebar .menu-item a.active,
#sidebar .menu-item a:hover {
  text-decoration: underline;
}

.content {
  padding: 50px;
}

.card,
.card:hover {
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.card:hover {
  border-color: #606c38;
  color: rgb(165, 108, 75);
  cursor: pointer;
}

.card {
  margin: 20px;
  width: 258.328px;
  height: 560.477px;
}

.author img {
  height: 300px;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  animation: spin 2s linear infinite;
}
.margin {
  margin-bottom: 5px;
}
h3 {
  margin-bottom: 0;
}
