* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
}
li,
a,
button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #008a90;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.icon {
  width: 70px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  cursor: pointer;
}

.search-form {
  float: right;
  margin-left: 10px;
}

.search-form input {
  font-size: 1rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: black;
}
